<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="quran_mentor"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon, android:label">
        <!-- باقي الكود -->
    </application>
</manifest>